extends layout

block content
  .page-header
    h1 URL Job Queue
    p.lead Enter a URL to save or an ID to check on the status.
  .row
    .col-md-4
      div(
        class='alert lead alert-info'
        role='alert'
      ) 
        h2 Hang tight while we're fecthing the URL!
        p Your ID for #{url} is #{id}.
        p Refresh the page for result.
        ul
          li
            a(
              href='/'
            ) Back to enter another URL
            